adafruit-circuitpython-rgb-display==3.12.7
config==0.5.1
paho-mqtt==2.1.0
Pillow==11.1.0
pubsub==0.1.2
PyJWT==2.10.1
Pypubsub==4.0.3
pyserial==3.5
python-dateutil==2.9.0
pytimeparse==1.1.8
pytz==2024.2
requests==2.32.3
RPi.GPIO==0.7.1
simplejson==3.19.3
